[submodule "Dependency/glfw"]
	path = Dependency/glfw
	url = https://github.com/glfw/glfw.git
[submodule "Dependency/imgui"]
	path = Dependency/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "Dependency/tinygltf"]
	path = Dependency/tinygltf
	url = https://github.com/syoyo/tinygltf.git
[submodule "Dependency/tracy"]
	path = Dependency/tracy
	url = https://github.com/wolfpld/tracy.git
[submodule "Dependency/glm"]
	path = Dependency/glm
	url = https://github.com/g-truc/glm.git
[submodule "Dependency/stb"]
	path = Dependency/stb
	url = https://github.com/nothings/stb.git
